# Virtual environment
.venv/

# Python cache
__pycache__/
*.py[cod]

# Build artifacts
build/
dist/
*.egg-info/

# IDE settings
.idea/

# Jupyter
.ipynb_checkpoints/

# Pytest
.pytest_cache/

# Environment variables
.env